.about{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px; 
    padding-left: 3px;
    margin: auto; 
    width: 100%; 
    margin-top: 4px;
    height: 100%;
    border-color: antiquewhite;
    margin-bottom: 50px;
} 
.about .dr-image{
    
}
.about .dr-info{
   padding-left: 40px;
  width: 30%; 
  font-family: Georgia, "Times New Roman", Times, serif;
  display: block;
  
} 
.about .dr-info p{
    font-size: 16px;
    font-family: "open sans", sans-serif;
    letter-spacing :-0.16px;
line-height : 32px;
text-align: start;
text-size-adjust: 100%;
} 
.about .dr-info h4{
    color: rgb(43, 46, 117);
    font-size: 16px;
font-stretch: 100%;
font-weight: 700; 
letter-spacing :normal;
line-height: 22.4px;
}
.about .dr-info h2{
  color: rgb(43, 46, 117);    
  font-size :33px;
font-stretch: 100%;
letter-spacing :normal;
line-height: 42.9px;
}
.about .dr-info h3{
    letter-spacing: 0.4em;
    font-family: playfairdisplay-bold, "playfair display", ser;
    font-size: 16px;
    line-height :16px;
}
.services {
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-direction: column;
    background-color: rgb(240, 240, 240);
    height: 100vh;
   
} 
.services .services-image{
    display: flex;
    justify-content: space-between; 
    align-items: center;
    flex-direction: row;
}  
.services .services-image .image{
   padding: 20px;
} 
.services .service-description{
    padding: 20px;
} 
.services .service-description h1{
    color: rgb(43, 46, 117);
    font-family: playfairdisplay-bold, "playfair display", ser;
    font-size: 33px;
    letter-spacing:normal;
line-height :46.2px;
overflow-wrap :break-word;
}  
.services .service-description p{
    font-size: 16px;
    line-height: 1.8em;
    color: rgb(96, 94, 94);
    letter-spacing: -0.01em;
    overflow-wrap :break-word;
    text-align: start;
}
 
  .methodology{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
  } 
  .methodology .methods {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 50%;
    
  } 
  
  .methodology .methdology-description h3 {
    color: rgb(43, 46, 117);
    font-size: 16px; 
    letter-spacing: 6.4px;
    line-height: 16px;
  text-align: center;
  overflow-wrap: break-word;
  font-family: playfairdisplay-bold, "playfair display", ser;
  } 
  .methodology .methdology-description h1{
    font-size: 33px;
    font-family: playfairdisplay-bold,playfair display,serif;
    line-height: 1.3em;
    text-align: center;
    background-origin :padding-box;
    color: rgb(43, 46, 117);
    letter-spacing:normal;
line-height:42.9px;

  }  

  .recnt-blog{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column; 
    background-color: rgb(240, 240, 240);
    margin-bottom: 30px;
  } 
  .recnt-blog .recent-blog-description{
    width: 50%;
  }
  .recnt-blog .recent-blog-image {
    padding: 30px;
    
  }  
  .recnt-blog .recent-blog-description h1{
    font-size: 33px;
    color: rgb(43, 46, 117);
    letter-spacing: normal;
line-height: 46.2px;
text-align:center;
  }  
  .recnt-blog .recent-blog-description p{
    font-size: 16px;
    line-height: 1.8em;
    color: rgb(96, 94, 94);
    letter-spacing: -0.01em;
    overflow-wrap :break-word;
    text-align: start;
  } 
  .footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
  }
  .footer div ul{
    list-style-type: none;
    margin: 40px;
  } 
  .footer div ul li a{
    text-decoration: none;
    padding: 25px;
    font-size: 18px;
    letter-spacing :0.36px;
line-height :36.9px;
color: rgb(65, 65, 65);
cursor: pointer;
  }

.copywrite{
    align-items: center;
    text-align: center;
    padding: 40px;
   
}
.copywrite p{
    letter-spacing: 0.02em;
    font-size: 16px;
    line-height: 1.5em;
    line-height 24px
}
