*{
    margin: 0;
    padding: 0;
   box-sizing: content-box;
   font-family: Georgia, 'Times New Roman', Times, serif;
   
}   
html{
    scroll-behavior: smooth;
    
} 
body{
    overflow: auto;
}
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid;
    border-color: antiquewhite;
}
   .nav div{
    padding: 30px;

   }  
   .nav .info h1{
    
    color: rgb(43, 46, 117);
    font-family: playfairdisplay-bold, "playfair display", ser;
    font-size: 33px;
    cursor: pointer;
    letter-spacing: normal;
    line-height :46.2px;
   }  
   .nav .info h3{
    font-family: "open sans", sans-serif;
    font-size: 14px;
    color: rgb(43, 46, 117);
    letter-spacing : 0.28px;
    overflow-wrap: break-word;
    text-align: center;

   }
   .nav .contact ul{
    list-style-type: none;
    justify-content: space-between;
   }
   .nav .contact ul li{
    display: inline-block;   
    justify-content: space-between; 
   margin-left: 10px;
    
   } 
   .sub-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
   
} 
.sub-nav .sub-nav-right{
    margin-top: 10px;
    margin-right: 20px;
}

   
   .sub-nav .sub-nav-left ul{
    list-style-type: none;
    margin-left: 35px;
   }
   .sub-nav .sub-nav-left ul li{
    display: inline-block; 
    justify-content: space-between;
   }
   .sub-nav .sub-nav-left ul li a{
    text-decoration: none;
    margin-left: 10px;
    color: rgb(43, 46, 117);
    cursor: pointer;
    font-size: 15px; 
    font-family: poppins-semibold, poppins, sans-serif; 
    padding-left: 10px;
    padding-right : 10px;
    font-weight: bold;
   } 
   .sub-nav .sub-nav-left ul li a:hover{
    color:rgb(150, 27, 30) ;
    transition: 0.5s ease-out;
   }
.head-vidoe{
    width: 100%;
    height: 660px;
    align-items: center;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: solid;
    border-color: antiquewhite;
}
.head-vidoe .head-video-info{
    align-items: center;
    text-align: center; 
    
}
.head-vidoe .head-video-info h1{
    font-size: 50px;
    padding-bottom: 10px;
}  
.head-vidoe .head-video-info #h1{
    color: rgb(150, 27, 30) ;
}  
.head-vidoe .head-video-info #h2{
    color: rgb(0, 0, 238);
} 
.head-vidoe .head-video-info h4{
    font-size: 18px;
    color: rgb(65, 65, 65);
    font-family: "open sans", sans-serif;
    letter-spacing :0.36px;
    text-align: center;
    padding-bottom: 10px;

}    


button{
    width: 175px;
    cursor: pointer;
    border-radius: 20px;
    border-top-width: 2px;
    border-top-style:solid ;
    border-color: rgb(150, 27, 30);
    background-color: rgb(150, 27, 30) ;
    height: 40px;
   color: white;
   letter-spacing: normal;
   font-weight: bolder;
} 
button:hover{
    background-color: white;
    color: rgb(150, 27, 30);
    transition: ease-in-out;
} 
select{
    width: 160px;
    height: 40px;
    border-radius: 17px;
    border-top-width: 2px;
    border-top-style:solid ;
    
    text-align: center;
    
} 

input{
    padding: 15px;
    width:auto ;
    border-radius: 20px;
}