*{
    margin: 0;
    padding: 0;
   box-sizing: content-box;
   font-family: Georgia, 'Times New Roman', Times, serif;
}   
html{
    scroll-behavior: smooth;
}
.nav {
    display: flex;
    justify-content: center;
    align-items: center;
}
   .nav div{
    padding: 30px;

   } 
   .nav .contact ul{
    list-style-type: none;
   }
   .nav .contact ul li{
    display: inline-block; 
    
   }

